body {
	background-color: black;

	width: 70vh;
	height: 100vh;
}

a {
	color: blue;
	text-decoration: underline;
}

#cv {
	position: absolute;

	left: 0px;
	top: 0px;

	width: 70vh;
	height: 100vh;
	/*border: solid green 1px;*/
	font-family: Arial;
	color: rgb(50, 50, 50);

	font-size: 1.3vh;

	/*background-color: rgb(250, 235, 235);*/
	background-image: linear-gradient(rgb(255, 235, 235), rgb(255, 230, 180));
}

p {
	text-align: justify;
}

#infos {
	position: absolute;
	left: 0;
	right: 0;
	width: 70vh;
	height: 100vh;
	/*border: solid red 1px;*/
}

#left-column {
	position: relative;

	left: 3vh;

	width: 25vh;
	height: 40vh;
}

#right-column {
	position: relative;


	left: 37vh;
	bottom: 40.8vh;

	width: 25vh !important;

	/*border: solid blue 1px;*/

	width: 30vh;
}

#infos {
	padding: 2vh;
}

#photo {
	position: relative;

	left: 3vh;
	top: 4vh;

	border-radius: 10%;

	width: 15vh;
}

#title {
	position: relative;
	
	left: 8vh;
	bottom: 8vh;

	text-align: center;

}

.rubrique {
	color: rgb(200, 100, 75);
	text-align: left !important;
}

/*
#left-triangle {
	position: absolute;

	top: -9vh;

	width: 0;
	height: 0;
	border-top: 15vh solid transparent;
	border-bottom: 15vh solid transparent;
	border-left: 50vh solid rgb(200, 100, 75);
}

#right-triangle {
	position: absolute;

	right: 0vh;
	top: -19vh;

	border-top: 15vh solid transparent;
	border-bottom: 15vh solid transparent;
	border-right: 50vh solid rgb(55, 155, 180);
}
*/

#left-triangle {
	position: absolute;

	top: -9vh;

    background-image: linear-gradient(rgb(240, 170, 120), rgb(200, 100, 75));
    clip-path: polygon(0% 0%, 100% 50%, 0% 100%);
    width: 50vh;
    height: 30vh;
}

#right-triangle {
	position: absolute;


	right: 0vh;
	top: -19vh;

    background-image: linear-gradient(cyan, rgb(55, 155, 180));
    clip-path: polygon(0% 50%, 100% 0%, 100% 100%);
    width: 50vh;
    height: 30vh;
}

#vertical-separator {
	position: absolute;

	left: 34.75vh;
	top: 40vh;

	width: 0.5vh;
	height: 40vh;

	border-radius: 0.25vh;

	background-color: rgb(75, 75, 75);

}
